###rasa_nlu
gevent
Klein
boto3
typing
future
six
jsonschema
matplotlib
requests
tqdm
numpy
simplejson

###rasa_core
apscheduler
fakeredis
graphviz
h5py
jsonpickle
keras
pandoc
redis
tensorflow
networkx
fbmessenger
ConfigArgParse
pykwalify
coloredlogs
ruamel.yaml
flask
rasa_nlu == 0.13.3

###additional
pypandoc
rasa_core == 0.13.0a4
instamojo_wrapper
pymongo